@font-face {
    font-family: "steelfish";
    src: url("./steelfish rg.ttf") format("opentype");
}

@font-face {
    font-family: "maven";
    src: url("./MavenProLight-300.otf") format("opentype");
}

/* card header img - could be better as background. Eventually incorporate into Aerophane */
article > section img:first-child, article > section canvas:first-child {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    width: 100%; max-width: 580px;
}

/* Custom themes */
body > header {
    background: #f97599;
    color: #fff;
}
body > header h1 {
    font-family: steelfish;
    font-size: 28px;
    letter-spacing: 0.05em;
}
body > header button div {
    background: #fff;
}
body > nav h2 {
    color: #f97599;
    font-family: steelfish;
    font-size: 28px;
    letter-spacing: 0.05em;
}
